    html {
        font-size: 62.5%;
        @include antialiasing;

        @include media-breakpoint-up(md) {
            height: 100%;
        }
    }

    body {
        @include font-size;
        color: $color-txt;
        font-family: $ff;
        background: #000;
        max-width: 1440px;
        margin: 0 auto;

        @include media-breakpoint-up(md) {
            overflow: hidden;
        }
    }

    h1 {
        font-family: $ff-title;
        text-transform: uppercase;
        font-size: 3.2rem;
        margin: 0 0 2rem;

        @include media-breakpoint-up(sm) {
            font-size: 4.2rem;
        }
    }

    h2 {
        font-family: $ff;
        font-size: 2.4rem;
        margin: 0 0 2rem;
    }

    p {
        line-height: 1.6;
    }

    a {
        color: $color-link;
        text-decoration: none;

        &:hover {
            color: $color-hover;
        }
    }

    ul {
        @include reset-ul;
    }

    *,
    *:after,
    *:before {
        @include box-sizing(border-box);
    }
