// Colors

$color-bg: #fff;
$color-txt: #b9b9b9;
$color-ctm: #160c72;

$color-link: #a9a9a9;
$color-hover: #fff;

$color-bd: #fff;
$color-bd-light: #fff;


// fonts

$ff: 'Open Sans', sans-serif;
$ff-title : 'Old Standard TT', serif;

body {

  p {
    color: red;
  }
}
